<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">


    <context-param>
      <!-- number of milliseconds to wait before checking LOG4J_CONFIG_LOCATION for updates -->
        <param-name>SERVICE_VERSION</param-name>
        <param-value>ElevationService 1.2 </param-value>
    </context-param>


    <!-- BEGIN Configuration for Log4jConfigListener -->
    <context-param>
      <!-- number of milliseconds to wait before checking LOG4J_CONFIG_LOCATION for updates -->
        <param-name>LOG4J_REFRESH_INTERVAL</param-name>
        <param-value>30000</param-value>
    </context-param>
    <context-param>
      <!-- The file must be in WEB_INF\classes == Source Packages <default package> -->
        <param-name>LOG4J_FILE_NAME</param-name>
        <param-value>log4j.properties</param-value>
    </context-param>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>mil.nga.to6.Log4jConfigListener</listener-class>
    </listener>
   <!-- END Configuration for Log4jConfigListener -->

    <!-- BEGIN Configuration for OutputFormatFilter -->
    <filter>
        <filter-name>OutputFormatFilter</filter-name>
        <filter-class>mil.nga.to6.OutputFormatFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>OutputFormatFilter</filter-name>
        <servlet-name>elevation_servlet</servlet-name>
    </filter-mapping>
    <!-- END Configuration for OutputFormatFilter -->
    
    <!-- BEGIN Configuration for servlet -->
    <servlet>
        <servlet-name>elevation_servlet</servlet-name>
        <servlet-class>mil.nga.to6.elevation_servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>elevation_json_servlet</servlet-name>
        <servlet-class>mil.nga.to6.elevation_json_servlet</servlet-class>
    </servlet>
    <!-- BEGIN Added ssi Servlet for Server Side Includes -->
    <!-- servlet>
      <servlet-name>ssi</servlet-name>
      <servlet-class>org.apache.catalina.ssi.SSIServlet</servlet-class>
      <init-param>
          <param-name>debug</param-name>
          <param-value>1</param-value>
        </init-param>      
    </servlet>
    <servlet-mapping>
        <servlet-name>ssi</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping -->    
    <!-- END Added ssi Servlet for Server Side Includes -->
    
    <servlet-mapping>
        <servlet-name>elevation_servlet</servlet-name>
        <url-pattern>/elevation_servlet</url-pattern>
    </servlet-mapping>
    <!-- END Configuration for ervlet -->

    <!-- BEGIN Configuration Base Web Application -->
    <servlet-mapping>
        <servlet-name>elevation_json_servlet</servlet-name>
        <url-pattern>/elevation_json_servlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
    </error-page>
    <error-page>
        <error-code>405</error-code>
        <location>/error.jsp</location>
    </error-page>
   <!-- END Configuration Base Web Application -->

   <!-- Connection Pool Reference -->
    <resource-ref>
        <description>WS Connection Pool</description>
        <res-ref-name>jdbc/ws</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>       
   <!-- End Connection Pool Reference -->
    

</web-app>
